:root {
  --primary-font: "Fredericka the Great", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.1rem;
}

/* Animation */

.bounce-in-top {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* Animation for my about me description */

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-elliptic-top-fwd {
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

body {
  background-color: rgb(255, 235, 205);
  min-width: 320px;
}

/* Nav for small device */

#menu-desktop {
  display: none;
  text-transform: uppercase;
}

.menu-for-phone {
  background-color: #ffffff;
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
  max-height: 200px;
  z-index: 10;
  width: 100%;
}

.menu-for-phone a {
  padding: 1em;
}

.menu-for-phone a img {
  width: 100%;
  max-height: 75px;
  max-width: 80px;
}

header {
  margin: 0 5%;
  display: flex;
}

.logo {
  position: relative;
  width: 20%;
}

.logo img {
  height: 120px;
  width: 100%;
}

.logo-container {
  position: absolute;
  top: 25%;
  left: 10%;
  background: url(../images/logo-2.jpg) no-repeat center;
  background-size: cover;

  height: 70px;
  width: 84%;
}

.header-img-container {
  position: relative;
  background: url(../images/bg.png) no-repeat center;
  background-size: cover;

  height: 150px;
  max-height: 500px;
  max-width: 500px;
  width: 75%;
}

.header-img-container h1 {
  font-size: 2.5rem;
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-transform: uppercase;
}
/* ABOUT ME CONTAINER */

.about-me-container {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.img-container {
  margin: 0 auto;
  border: 3px solid brown;
  border-radius: 50%;
  margin-bottom: 1em;
  width: 50%;
  /* max-width: 250px; */
  padding: 0.5em;
}

.img-container img {
  margin: 0 auto;
  border-radius: 50%;
  height: 220px;
  width: 100%;
}

.about-description {
  margin-bottom: 1em;
}

.about-description h1 {
  font-size: 1.8rem;
  margin-bottom: 0.2em;
}

.about-description h4 {
  font-size: 1.1rem;
  margin-bottom: 1em;
}

.about-description .first-text {
  margin-bottom: 1em;
}

.about-description p {
  line-height: 1.1rem;
  font-size: 1.1rem;
  letter-spacing: 0.03rem;
  margin-bottom: 1em;
}

/* SKILL Container */

.skill-container {
  margin-bottom: 40%;
  margin-left: 3%;
}

.skill-container img {
  margin-top: 1em;
  height: 70px;
  max-height: 125px;
}

/* For Smaller Screen */

@media (max-width: 361px) {
  .header-img-container h1 {
    top: 60%;
    left: 40%;
    font-size: 1.8em;
    text-transform: uppercase;
  }

  .header-img-container {
    height: 120px;
  }

  .skill-container img {
    height: 60px;
  }

  .skill-container {
    margin-left: 0%;
  }

  .img-container {
    width: 70%;
  }
}

@media (max-width: 375px) {
  .header-img-container {
    height: 120px;
  }

  .header-img-container .header-intro {
    font-size: 1.8em;
  }
  .img-container {
    width: 80%;
  }

  .skill-container {
    margin-left: 0%;
  }
}

@media (min-width: 411px) and (max-width: 414px) {
  .img-container {
    width: 70%;
  }
}

/* For tablet and phone medium screen */

@media (min-width: 550px) and (max-width: 600px) {
  .header-img-container h1 {
    top: 60%;
    left: 40%;
    font-size: 3em;
    text-transform: uppercase;
  }

  .about-me-container {
    margin: 10% 5%;
  }

  .header-img-container {
    height: 200px;
  }

  .skill-container img {
    height: 70px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .header-img-container h1 {
    top: 60%;
    left: 40%;
    font-size: 4em;
    text-transform: uppercase;
  }

  #aboutme-container header {
    padding-top: 2%;
  }
  .menu-for-phone {
    font-size: 1.3rem;
  }

  .about-me-container {
    margin: 10% 5% 0% 5%;
  }
  .about-me-container p {
    line-height: 1em;
    font-size: 1.5rem;
  }

  .img-container img {
    width: 100%;
    height: 250px;
  }
  .header-img-container {
    height: 200px;
  }

  .skill-container img {
    height: 100px;
  }
}

@media (min-width: 769px) and (max-width: 940px) {
  .header-img-container h1 {
    top: 60%;
    left: 40%;
    font-size: 4em;
    text-transform: uppercase;
  }
  .menu-for-phone {
    font-size: 1.3rem;
  }

  .about-me-container {
    margin: 10% 5%;
  }
  .about-me-container p {
    line-height: 1em;
    font-size: 1.5rem;
  }

  .img-container img {
    width: 100%;
    height: 300px;
  }

  .header-img-container {
    height: 190px;
  }

  .skill-container img {
    height: 100px;
  }
}

@media (min-width: 941px) and (max-width: 1024px) {
  #menu-desktop {
    display: flex;
    height: 100vh;
    z-index: -2;
    text-align: center;
  }

  .menu-1 {
    display: flex;
    position: fixed;
    top: 0;
    padding: 3% 3%;
    justify-content: space-between;
    width: 100%;
  }

  .menu-2 {
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 3% 3%;
    justify-content: space-between;
    width: 100%;
  }

  #menu-desktop img {
    height: 130px;
    max-height: 200px;
    max-width: 200px;
  }

  .menu-for-phone {
    display: none;
  }

  #aboutme-container header {
    position: absolute;
    top: 0%;
    left: 12%;
    z-index: -11;
    width: 60%;
    justify-content: space-around;
  }

  .logo {
    width: 10%;
  }

  .logo img {
    height: 38%;
    width: 90%;
  }

  .logo-container {
    top: 12%;
    left: 2%;
    height: 50px;
    width: 50px;
  }
  .header-img-container {
    width: 70%;
    height: 220px;
    max-height: 270px;
  }

  .header-img-container h1 {
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    text-transform: uppercase;
  }

  .about-me-container {
    position: absolute;
    top: 27%;
    flex-direction: row;
    margin: 0 10%;
  }

  .img-container {
    height: 50%;
    width: 25%;
    margin-right: 2em;
    border: 1px solid brown;
    align-self: center;
  }
  .img-container img {
    object-fit: cover;
    width: 100%;
    height: 200px;
  }

  .about-description {
    width: 70%;
  }

  .about-description h1 {
    font-size: 1.8rem;
  }

  .about-description h4 {
    font-size: 1em;
    margin-bottom: 1em;
  }

  .about-description p {
    line-height: 1.2rem;
    font-size: 1.1rem;
  }

  .skill-container {
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  .skill-container img {
    height: 70px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  #menu-desktop {
    display: flex;
    height: 100vh;
    z-index: -2;
    text-align: center;
  }

  .menu-1 {
    display: flex;
    position: fixed;
    top: 0;
    padding: 3% 3%;
    justify-content: space-between;
    width: 100%;
  }

  .menu-2 {
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 3% 3%;
    justify-content: space-between;
    width: 100%;
  }

  #menu-desktop img {
    height: 130px;
    max-height: 200px;
    max-width: 200px;
  }

  .menu-for-phone {
    display: none;
  }

  #aboutme-container header {
    position: absolute;
    top: 0%;
    left: 12%;
    z-index: -11;
    width: 60%;
    justify-content: space-around;
  }

  .logo {
    width: 10%;
  }

  .logo img {
    height: 38%;
    width: 90%;
  }

  .logo-container {
    top: 12%;
    left: 2%;
    height: 50px;
    width: 50px;
  }
  .header-img-container {
    width: 70%;
    height: 220px;
    max-height: 270px;
  }

  .header-img-container h1 {
    width: 100%;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    text-transform: uppercase;
  }

  .about-me-container {
    position: absolute;
    top: 30%;
    flex-direction: row;
    margin: 0 10%;
  }

  .img-container {
    height: 50%;
    width: 50%;
    margin-right: 2em;
    border: 1px solid brown;
    align-self: center;
  }
  .img-container img {
    object-fit: cover;
  }

  .about-description {
    width: 70%;
  }

  .about-description h1 {
    font-size: 1.8rem;
  }

  .about-description h4 {
    font-size: 1em;
    margin-bottom: 1em;
  }

  .about-description p {
    line-height: 1.3rem;
    font-size: 1.3rem;
  }

  .skill-container {
    position: absolute;
    top: 100%;
    left: 35%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  .skill-container img {
    height: 80px;
  }
}

/* For larger scale resolution */
@media (min-width: 1201px) and (max-width: 1300px) {
  #menu-desktop {
    display: flex;
    height: 100vh;
    z-index: -2;
    text-align: center;
  }

  .menu-1 {
    display: flex;
    position: fixed;
    top: 0;
    padding: 3% 3%;
    justify-content: space-between;
    width: 100%;
  }

  .menu-2 {
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 3% 3%;
    justify-content: space-between;
    width: 100%;
  }

  #menu-desktop img {
    height: 150px;
    max-height: 200px;
    max-width: 200px;
  }

  .menu-for-phone {
    display: none;
  }

  #aboutme-container header {
    position: absolute;
    top: 2%;
    left: 10%;
    z-index: -11;
    width: 60%;
    justify-content: space-around;
  }

  /* .logo {
		width: 10%;
	}

	.logo img {
		height: 40%;
		width: 90%;
	}

	.logo-container {
		top: 12%;
		left: 2%;
		height: 80px;
	} */

  .header-img-container {
    width: 100%;
    height: 200px;
  }

  .header-img-container h1 {
    width: 100%;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    text-transform: uppercase;
  }

  .about-me-container {
    position: absolute;
    top: 30%;
    flex-direction: row;
    margin: 0 20%;
  }

  .img-container {
    height: 50%;
    width: 50%;
    margin-right: 3em;
    border: 2px solid brown;
    align-self: center;
  }
  .img-container img {
    object-fit: cover;
  }

  .about-description {
    width: 70%;
  }

  .about-description h1 {
    font-size: 2rem;
  }

  .about-description h4 {
    margin-bottom: 2em;
  }

  .about-description p {
    padding-right: 3em;
    line-height: 1.4rem;
    font-size: 1.5rem;
  }

  .skill-container {
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  .skill-container img {
    height: 100px;
  }
}

@media (min-width: 1301px) {
  #menu-desktop {
    display: flex;
    height: 100vh;
    z-index: -2;
    text-align: center;
  }

  .menu-1 {
    display: flex;
    position: fixed;
    top: 0;
    padding: 3% 3%;
    justify-content: space-between;
    width: 100%;
  }

  .menu-2 {
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 3% 3%;
    justify-content: space-between;
    width: 100%;
  }

  #menu-desktop img {
    height: 190px;
    max-height: 200px;
    max-width: 200px;
  }

  .menu-for-phone {
    display: none;
  }

  #aboutme-container header {
    position: absolute;
    top: 2%;
    left: 10%;
    z-index: -11;
    width: 60%;
    justify-content: space-around;
  }

  /* .logo {
		width: 10%;
	}

	.logo img {
		height: 40%;
		width: 90%;
	}

	.logo-container {
		top: 12%;
		left: 2%;
		height: 80px;
	} */

  .header-img-container {
    width: 100%;
    height: 200px;
  }

  .header-img-container h1 {
    width: 100%;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    text-transform: uppercase;
  }

  .about-me-container {
    position: absolute;
    top: 26%;
    flex-direction: row;
    margin: 0 20%;
  }

  .img-container {
    height: 50%;
    width: 25%;
    margin-right: 3em;
    border: 2px solid brown;
    align-self: center;
  }
  .img-container img {
    object-fit: cover;
    width: 100%;
    height: 250px;
  }

  .about-description {
    width: 70%;
  }

  .about-description h1 {
    font-size: 2rem;
  }

  .about-description h4 {
    margin-bottom: 2em;
  }

  .about-description p {
    padding-right: 3em;
    line-height: 1.4rem;
    font-size: 1.5rem;
  }

  .skill-container {
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  .skill-container img {
    height: 80px;
  }
}
