* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Container SECTION */

#contact-container {
  flex-direction: column;
}

#contact-container header {
  position: relative;
  margin: 0 5%;
  display: flex;
}

#contact-container .logo {
  position: relative;
  width: 20%;
}

#contact-container .logo img {
  height: 120px;
  width: 100%;
}

#contact-container .logo-container {
  position: absolute;
  top: 25%;
  left: 10%;
  background: url(../images/logo-2.jpg) no-repeat center;
  background-size: cover;

  height: 70px;
  width: 84%;
}

#contact-container .header-img-container {
  position: relative;
  background: url(../images/bg.png) no-repeat center;
  background-size: cover;
  height: 150px;
  max-height: 500px;
  max-width: 500px;
  width: 75%;
}

#contact-container .header-intro {
  font-size: 2.5rem;
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-transform: uppercase;
}

.contact-wrapper {
  flex-direction: column;
}

.contact-wrapper img {
  height: 50px;
}

.contact {
  border-bottom: 2px solid grey;
  margin: 5%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 3em;
}

.contact h4 {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.contact input {
  display: inline-block;
  margin-bottom: 10px;
  height: 30px;
  width: 80%;

  background: transparent;
  border-radius: 3px;
  border: 1px solid brown;
  padding: 2px;
}

textarea {
  width: 80%;
  background-color: transparent;
  border: 1px solid brown;
}

.contact .submitBtn {
  cursor: pointer;
  padding: 0.5em;
  display: inline-block;
  width: 25%;
  margin-top: 10px;
  background-color: black;
  color: white;
  border: 1px solid black;
  margin-bottom: 5em;
}

.icons h2 {
  margin-bottom: 0.5em;
}

.contact-2 {
  display: flex;
  flex-direction: column;
  margin: 5% 0;
}

.contact-2 span {
  font-weight: bold;

  padding: 0 5%;
}

.contact-2 :nth-child(3) {
  margin-bottom: 5%;
}

.contact-2 :nth-child(4) {
  display: none;
}

/* Google Maps */

.contact-map {
  width: 100%;
}

@media (max-width: 375px) {
  #contact-container .header-intro {
    font-size: 1.8em;
    text-transform: uppercase;
  }

  #contact-container .header-img-container {
    height: 120px;
  }
}

@media (min-width: 570px) {
  #contact-container .header-img-container {
    height: 200px;
  }

  #contact-container .header-intro {
    font-size: 3em;
  }
}

@media (min-width: 601px) {
  #contact-container .header-intro {
    font-size: 4em;
  }

  #contact-container header {
    padding-top: 2%;
  }
}

@media (min-width: 769px) and (max-width: 940px) {
  #contact-container header {
    padding-top: 2%;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  #contact-container {
    display: none;
  }

  #contact-container header {
    position: absolute;
    top: 0%;
    left: 10.5%;
    z-index: -11;
    width: 60%;
    justify-content: space-around;
    padding-top: 0%;
  }

  #contact-container .header-img-container {
    width: 70%;
    height: 220px;
    max-height: 270px;
  }

  #contact-container .header-intro {
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    text-transform: uppercase;
  }
  .contact-wrapper {
    position: absolute;
    top: 25%;
    left: 20%;
    right: 20%;
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1201px) and (max-width: 1300px) {
  #contact-container header {
    position: absolute;
    top: 2%;
    left: 10.5%;
    z-index: -11;
    width: 60%;
    justify-content: space-around;
    padding-top: 0%;
  }

  #contact-container .header-img-container {
    width: 70%;
    height: 220px;
    max-height: 270px;
  }

  #contact-container .header-intro {
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    text-transform: uppercase;
  }

  .contact-wrapper {
    position: absolute;
    top: 25%;
    left: 20%;
    right: 20%;
    display: flex;
    flex-direction: row;
  }
  .contact {
    width: 80%;
    margin: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-bottom: none;
  }
}

@media (min-width: 1401px) {
  #contact-container {
    display: none;
  }

  #contact-container header {
    position: absolute;
    top: 2%;
    left: 10%;
    z-index: -11;
    width: 60%;
    justify-content: space-around;
    padding-top: 0%;
  }

  #contact-container .header-img-container {
    width: 100%;
    height: 200px;
  }

  #contact-container .header-intro {
    width: 100%;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    text-transform: uppercase;
  }

  .contact-wrapper {
    position: absolute;
    top: 25%;
    left: 20%;
    right: 20%;
    display: flex;
    flex-direction: row;
  }

  .contact {
    width: 80%;
    margin: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-bottom: none;
  }

  .contact h4 {
    font-size: 30px;
  }

  textarea {
    margin-left: 10%;
    display: block;
    width: 80%;
    background: transparent;
    border-radius: 3px;
    border: 1px solid brown;
    padding: 2px;
  }

  .contact form {
    margin-top: 20px;
  }

  .icons h2 {
    margin: 0;
    font-size: 25px;
  }

  .icons {
    display: inline;
    padding: 5px;
    border-bottom: none;
  }

  .icons img {
    height: 50px;
    margin-top: 10px;
  }

  .contact .submitBtn {
    display: inline-block;
    width: 25%;
    margin-top: 10px;
    background-color: black;
    color: white;
    border: 1px solid black;
  }

  .contact-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    font-weight: bold;
  }

  .contact-2 .icons {
    margin-top: 10px;
    height: 50px;
  }

  .contact-2 span {
    align-items: flex-start;
  }

  .contact-2 .contact-map-border {
    position: absolute;
    top: 43.2%;
    left: 44.8%;
    width: 52.4%;
    height: 54%;
  }

  .contact-map {
    position: absolute;
    top: 40%;
    left: 46%;

    width: 50%;
    height: 50%;
  }
}
