/* Animation */

.fade-in-left {
  animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  content: "";
}

.fade-in-right {
  animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-in-bottom {
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.flip-in-ver-left {
  animation: flip-in-ver-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.flip-in-hor-top {
  animation: flip-in-hor-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.flip-in-ver-right {
  animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes flip-in-ver-left {
  0% {
    transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes flip-in-ver-right {
  0% {
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes flip-in-hor-top {
  0% {
    transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#portfolio-container {
  flex-direction: column;
}

#portfolio-container header {
  position: relative;
  margin: 0 5%;
  display: flex;
}

#portfolio-container .logo {
  position: relative;
  width: 20%;
}

#portfolio-container .logo img {
  height: 120px;
  width: 100%;
}

#portfolio-container .logo-container {
  position: absolute;
  top: 25%;
  left: 10%;
  background: url(../images/logo-2.jpg) no-repeat center;
  background-size: cover;

  height: 70px;
  width: 84%;
}

#portfolio-container .header-img-container {
  position: relative;
  background: url(../images/bg.png) no-repeat center;
  background-size: cover;
  height: 150px;
  max-height: 500px;
  max-width: 500px;
  width: 75%;
}

#portfolio-container .header-intro {
  font-size: 2.5rem;
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-transform: uppercase;
}

.slider-container {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
}

.slider-container .intro-context {
  top: 30%;
  left: 70%;
  margin-bottom: 2%;
  transform: translate(0, -50%);
}

.slider {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  background-color: transparent;
  padding: 10px;
  margin-top: 10%;

  place-items: center;
}

.slider img {
  height: 400px;
  width: 400px;
  box-shadow: 6px 6px 6px gray;
  cursor: pointer;
}

#skew1 {
  -ms-transform: skew(2deg, -2deg);
  transform: skew(2deg, -2deg);
}
#skew2 {
  -ms-transform: skew(1deg, -1deg);
  transform: skew(1deg, -1deg);
}
#skew3 {
  -ms-transform: skew(-2deg, 2deg);
  transform: skew(-2deg, 2deg);
}

.image-container {
  position: relative;
}

.image-container h1 {
  position: absolute;
  top: 89%;
  left: 2%;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #333;
}

.image-container:hover .overlay {
  opacity: 1;
}
.text {
  font-weight: bold;
  font-size: 1.3em;
  text-transform: uppercase;
}

.text-content {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 10%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
}

.text-content .text-description-for-tech-stack {
  padding-top: 3%;
}

.overlay .moreDetailsBtn {
  display: inline-block;
  width: 36%;
  margin-top: 10px;
  background-color: White;
  color: black;
  border: 1px solid black;
  border-radius: 0.5em;
  padding: 0.2em;
}

.overlay .notify {
  font-size: 14px;
}

/* Overlay for other projects */

.project-overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  /* background-color: rgb(255, 235, 205); */
  overflow-y: hidden;
  transition: 0.5s;
}

.project-overlay-content {
  position: relative;
  display: flex;
  top: 0%;
  width: 50%;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px auto;
  color: #f1f1f1;
}

.project-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* .project-overlay a:hover,
.project-overlay a:focus {
  color: #f1f1f1;
} */

.project-overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#projects {
  margin: 2.5em;
}

.project {
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid #fff;
}

.project-content h2 {
  margin-bottom: 1em;
  font-size: 2rem;
  text-transform: uppercase;
}
.project-content p {
  font-size: 1.3em;
  margin-bottom: 1em;
}

.project img {
  width: 300px;
  height: 200px;
}

.project a {
  display: inline-block;
  font-size: 20px;
}

.project .moreDetailsBtn {
  margin-top: 10px;
  background-color: White;
  color: black;
  border: 1px solid black;

  border-radius: 0.5em;
  padding: 0.3em;
}
.work-description {
  position: absolute;
  top: 80%;
  left: 55%;
  transform: translate(-50%, -50%);
  /* background: blue; */
  width: 50%;
  height: auto;
}

@media (max-width: 300px) {
}

@media (min-width: 300px) and (max-width: 350px) {
  .slider {
    grid-template-columns: 1fr;
    margin-top: 20%;
    margin-bottom: 50%;
  }

  .intro-context {
    width: 280px;
  }

  .intro-context h3 {
    font-size: 1em;
  }
  .image-container img {
    height: 250px;
    width: 250px;
  }

  .image-container h1 {
    font-size: 1em;
  }
  .text {
    font-weight: bold;
    text-transform: uppercase;
  }
  .text-content {
    font-size: 0.8em;
  }

  .text-content .notify {
    margin-top: 3%;
    font-size: 0.8em;
  }

  .view-all-project-btn {
    padding: 1em;
  }

  /* Project Images */
  #projects {
    margin: 20% 0 50% 0;
  }

  .project {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 5%;
  }

  .project:nth-child(2) {
    flex-direction: column-reverse;
  }

  .project img {
    width: 100%;
    height: 150px;
  }

  .project-overlay-content {
    width: 90%;
  }

  .project-content h2 {
    margin-bottom: 1em;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .project-content p {
    font-size: 1em;
    margin-bottom: 1em;
  }

  .project-overlay {
    overflow-y: scroll;
  }

  .project-overlay a {
    z-index: 2;
  }
}

@media (min-width: 360px) and (max-width: 410px) {
  #portfolio-container .header-intro {
    font-size: 1.8em;
    text-transform: uppercase;
  }

  #portfolio-container .header-img-container {
    height: 120px;
  }

  .slider {
    grid-template-columns: 1fr;
    margin-top: 20%;
    margin-bottom: 50%;
  }

  .intro-context {
    width: 280px;
  }

  .intro-context h3 {
    font-size: 1em;
  }
  .image-container img {
    height: 250px;
    width: 250px;
  }

  .image-container h1 {
    font-size: 1em;
  }
  .text {
    font-weight: bold;
    text-transform: uppercase;
  }
  .text-content {
    font-size: 0.8em;
  }

  .text-content .notify {
    margin-top: 3%;
    font-size: 0.8em;
  }

  .view-all-project-btn {
    padding: 1em;
  }

  /* Project Images */
  #projects {
    margin: 20% 0 50% 0;
  }

  .project {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 5%;
  }

  .project:nth-child(2) {
    flex-direction: column-reverse;
  }

  .project img {
    width: 100%;
    height: 150px;
  }

  .project-overlay-content {
    width: 90%;
  }

  .project-content h2 {
    margin-bottom: 1em;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .project-content p {
    font-size: 1em;
    margin-bottom: 1em;
  }

  .project-overlay {
    overflow-y: scroll;
  }

  .project-overlay a {
    z-index: 2;
  }
}

@media (min-width: 411px) and (max-width: 414px) {
  .slider {
    grid-template-columns: 1fr;
    margin-top: 20%;
    margin-bottom: 50%;
  }

  .intro-context {
    width: 280px;
  }

  .intro-context h3 {
    font-size: 1em;
  }
  .image-container img {
    height: 300px;
    width: 300px;
  }

  .image-container h1 {
    font-size: 1em;
  }
  .text {
    font-weight: bold;
    text-transform: uppercase;
  }
  .text-content {
    font-size: 0.8em;
  }

  .text-content .notify {
    margin-top: 3%;
    font-size: 0.8em;
  }

  .view-all-project-btn {
    padding: 1em;
  }

  /* Project Images */
  #projects {
    margin: 20% 0 50% 0;
  }

  .project {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 5%;
  }

  .project:nth-child(2) {
    flex-direction: column-reverse;
  }

  .project img {
    width: 100%;
    height: 100px;
  }

  .project-overlay-content {
    width: 90%;
  }

  .project-content h2 {
    margin-bottom: 1em;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .project-content p {
    font-size: 1em;
    margin-bottom: 1em;
  }

  .project-overlay {
    overflow-y: scroll;
  }

  .project-overlay a {
    z-index: 2;
  }
}

@media (min-width: 768px) and (max-width: 812px) {
  #portfolio-container header {
    padding-top: 2%;
  }

  #portfolio-container .header-img-container {
    height: 200px;
  }
  #portfolio-container .header-intro {
    font-size: 4em;
  }

  .slider {
    grid-template-columns: 1fr;
    margin-top: 20%;
    margin-bottom: 50%;
  }

  .intro-context {
    width: 500px;
  }

  .intro-context h3 {
    font-size: 1.5em;
  }
  .image-container img {
    height: 400px;
    width: 500px;
  }

  .image-container h1 {
    font-size: 1em;
  }
  .text {
    font-weight: bold;
    text-transform: uppercase;
  }
  .text-content {
    font-size: 1em;
  }

  .text-content .notify {
    margin-top: 3%;
    font-size: 0.8em;
  }

  .view-all-project-btn {
    font-size: 1.2em;
    padding: 1em;
  }

  #projects {
    margin: 20% 0 50% 0;
  }

  .project {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 5%;
  }

  .project:nth-child(2) {
    flex-direction: column-reverse;
  }

  .project img {
    width: 100%;
    height: 300px;
  }

  .project-overlay-content {
    width: 90%;
  }

  .project-content h2 {
    margin-bottom: 1em;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .project-content p {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .project-overlay {
    overflow-y: scroll;
  }

  .project-overlay a {
    z-index: 2;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  #portfolio-container {
    display: none;
  }

  #portfolio-container header {
    position: absolute;
    top: 0%;
    left: 10.5%;
    z-index: -11;
    width: 60%;
    justify-content: space-around;
    padding-top: 0%;
  }

  #portfolio-container .header-img-container {
    width: 70%;
    height: 220px;
    max-height: 270px;
  }

  #portfolio-container .header-intro {
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    text-transform: uppercase;
  }

  .slider-container {
    top: 32%;
  }

  .image-container img {
    height: 270px;
    width: 250px;
  }

  .intro-context h3 {
    font-size: 1em;
  }

  .image-container h1 {
    font-size: 1em;
  }
  .text {
    font-weight: bold;
    text-transform: uppercase;
  }
  .text-content {
    font-size: 0.8em;
  }

  .text-content .notify {
    margin-top: 3%;
    font-size: 0.8em;
  }

  .view-all-project-btn {
    font-size: 1.2em;
    padding: 1em;
  }
  #projects {
    margin: 20% 0 20% 0;
  }

  .project {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 5%;
  }

  .project:nth-child(2) {
    flex-direction: column-reverse;
  }

  .project img {
    width: 100%;
    height: 300px;
  }

  .project-overlay-content {
    position: relative;
    display: flex;
    top: 0%;
    width: 50%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px auto;
    color: #f1f1f1;
  }

  .project-content h2 {
    margin-bottom: 1em;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .project-content p {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .project-overlay {
    overflow-y: scroll;
  }

  .project-overlay a {
    z-index: 2;
  }
  .view-all-project-btn {
    background: transparent;
    font-weight: 300;
    color: black;
    font-size: 1.5em;
    cursor: pointer;
    padding: 0.5em;
    grid-column: 2/3;
    grid-row: 4/5;
    width: 100%;
  }
}
@media (min-width: 1201px) and (max-width: 1300px) {
  #portfolio-container {
    display: none;
  }

  #portfolio-container header {
    position: absolute;
    top: 2%;
    left: 10.5%;
    z-index: -11;
    width: 60%;
    justify-content: space-around;
    padding-top: 0%;
  }

  #portfolio-container .header-img-container {
    width: 70%;
    height: 220px;
    max-height: 270px;
  }

  #portfolio-container .header-intro {
    width: 100%;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    text-transform: uppercase;
  }

  .slider-container {
    top: 32%;
  }

  .image-container img {
    height: 270px;
    width: 280px;
  }

  .intro-context h3 {
    font-size: 1em;
  }

  .image-container h1 {
    font-size: 1.5em;
  }
  .text {
    font-weight: bold;
    text-transform: uppercase;
  }
  .text-content {
    font-size: 0.8em;
  }

  .text-content .notify {
    margin-top: 3%;
    font-size: 0.8em;
  }

  .view-all-project-btn {
    font-size: 1.2em;
    padding: 1em;
  }
  #projects {
    margin: 20% 0 20% 0;
  }

  .project {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 5%;
  }

  .project:nth-child(2) {
    flex-direction: column-reverse;
  }

  .project img {
    width: 100%;
    height: 300px;
  }

  .project-overlay-content {
    position: relative;
    display: flex;
    top: 0%;
    width: 50%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px auto;
    color: #f1f1f1;
  }

  .project-content h2 {
    margin-bottom: 1em;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .project-content p {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .project-overlay {
    overflow-y: scroll;
  }

  .project-overlay a {
    z-index: 2;
  }
  .view-all-project-btn {
    background: transparent;
    font-weight: 300;
    color: black;
    font-size: 1.5em;
    cursor: pointer;
    padding: 0.5em;
    grid-column: 2/3;
    grid-row: 4/5;
    width: 100%;
  }
}

@media (min-width: 1301px) and (max-width: 1400px) {
  #portfolio-container {
    display: none;
  }

  #portfolio-container header {
    position: absolute;
    top: 0%;
    left: 10.5%;
    z-index: -11;
    width: 60%;
    justify-content: space-around;
    padding-top: 0%;
  }

  #portfolio-container .header-img-container {
    width: 70%;
    height: 220px;
    max-height: 270px;
  }

  #portfolio-container .header-intro {
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    text-transform: uppercase;
  }

  .slider-container {
    top: 32%;
  }

  .image-container img {
    height: 270px;
    width: 250px;
  }

  .intro-context h3 {
    font-size: 1em;
  }

  .image-container h1 {
    font-size: 1em;
  }
  .text {
    font-weight: bold;
    text-transform: uppercase;
  }
  .text-content {
    font-size: 0.8em;
  }

  .text-content .notify {
    margin-top: 3%;
    font-size: 0.8em;
  }

  .view-all-project-btn {
    font-size: 1.2em;
    padding: 1em;
  }
  #projects {
    margin: 20% 0 20% 0;
  }

  .project {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 5%;
  }

  .project:nth-child(2) {
    flex-direction: column-reverse;
  }

  .project img {
    width: 100%;
    height: 300px;
  }

  .project-overlay-content {
    position: relative;
    display: flex;
    top: 0%;
    width: 50%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px auto;
    color: #f1f1f1;
  }

  .project-content h2 {
    margin-bottom: 1em;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .project-content p {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .project-overlay {
    overflow-y: scroll;
  }

  .project-overlay a {
    z-index: 2;
  }
  .view-all-project-btn {
    background: transparent;
    font-weight: 300;
    color: black;
    font-size: 1.5em;
    cursor: pointer;
    padding: 0.5em;
    grid-column: 2/3;
    grid-row: 4/5;
    width: 100%;
  }
}

@media (min-width: 1401px) {
  #portfolio-container {
    display: none;
  }

  #portfolio-container header {
    position: absolute;
    top: 2%;
    left: 10%;
    z-index: -11;
    width: 60%;
    justify-content: space-around;
    padding-top: 0%;
  }

  #portfolio-container .header-img-container {
    width: 100%;
    height: 200px;
  }

  #portfolio-container .header-intro {
    width: 100%;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    text-transform: uppercase;
  }

  /* MY WORK CONTAINER */

  .text-description {
    padding: 0 10%;
    line-height: 1.5em;
    word-spacing: 0.1em;
    margin: 1em 0;
  }

  .view-all-project-btn {
    background: transparent;
    font-weight: 300;
    color: black;
    font-size: 1.5em;
    cursor: pointer;
    padding: 0.5em;
    grid-column: 2/3;
    grid-row: 4/5;
    width: 60%;
  }

  .online-portfolio {
    margin-top: 20%;
  }
}
