#resume-container {
  flex-direction: column;
}

#resume-container header {
  position: relative;
  margin: 0 5%;
  display: flex;
}

#resume-container .logo {
  position: relative;
  width: 20%;
}

#resume-container .logo img {
  height: 120px;
  width: 100%;
}

#resume-container .logo-container {
  position: absolute;
  top: 25%;
  left: 10%;
  background: url(../images/logo-2.jpg) no-repeat center;
  background-size: cover;

  height: 70px;
  width: 84%;
}

#resume-container .header-img-container {
  position: relative;
  background: url(../images/bg.png) no-repeat center;
  background-size: cover;
  height: 150px;
  max-height: 500px;
  max-width: 500px;
  width: 75%;
}

#resume-container .header-intro {
  font-size: 2.5rem;
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-transform: uppercase;
}

@media (min-width: 360px) and (max-width: 410px) {
  #resume-container .header-intro {
    font-size: 1.8em;
    text-transform: uppercase;
  }
  #resume-container .header-img-container {
    height: 120px;
  }

  .resume-container {
    padding: 0 1em;
  }

  .resume-wrapper {
    margin-bottom: 50%;
  }

  .experience h1 {
    margin-bottom: 1em;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .work-experience div {
    margin-bottom: 1em;
  }

  .education h1 {
    margin-bottom: 1em;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .education div {
    margin-bottom: 1em;
  }

  .education {
    margin-top: 1em;
  }
}

@media (min-width: 411px) and (max-width: 420px) {
  .resume-container {
    padding: 0 1em;
  }

  .resume-wrapper {
    margin-bottom: 50%;
  }

  .experience h1 {
    margin-bottom: 1em;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .work-experience div {
    margin-bottom: 1em;
  }

  .education h1 {
    margin-bottom: 1em;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .education div {
    margin-bottom: 1em;
  }

  .education {
    margin-top: 1em;
  }
}

@media (min-width: 450px) and (max-width: 600px) {
  .resume-container {
    padding: 0 1em;
  }

  .resume-wrapper {
    margin-bottom: 50%;
  }

  .experience h1 {
    margin-bottom: 1em;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .work-experience div {
    margin-bottom: 1em;
  }

  .education h1 {
    margin-bottom: 1em;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .education div {
    margin-bottom: 1em;
  }

  .education {
    margin-top: 1em;
  }
}

@media (min-width: 620px) and (max-width: 770px) {
  #resume-container header {
    padding-top: 2%;
  }

  #resume-container .header-img-container {
    height: 200px;
  }
  #resume-container .header-intro {
    font-size: 4em;
  }

  .resume-container {
    padding: 0 1em;
  }

  .resume-wrapper {
    margin-bottom: 0%;
  }

  .experience h1 {
    margin-bottom: 1em;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .work-experience div {
    margin-bottom: 1em;
  }

  .education h1 {
    margin-bottom: 1em;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .education div {
    margin-bottom: 1em;
  }

  .education {
    margin-top: 1em;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  #resume-container header {
    position: absolute;
    top: 0%;
    left: 10.5%;
    z-index: -11;
    width: 60%;
    justify-content: space-around;
    padding-top: 0%;
  }

  #resume-container .header-img-container {
    width: 70%;
    height: 220px;
    max-height: 270px;
  }

  #resume-container .header-intro {
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    text-transform: uppercase;
  }

  .resume-container {
    position: absolute;
    top: 30%;
    left: 25%;
    right: 20%;
  }

  .resume-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
  }
}

@media (min-width: 1201px) {
  #portfolio-container {
    display: none;
  }

  #resume-container header {
    position: absolute;
    top: 2%;
    left: 10%;
    z-index: -11;
    width: 60%;
    justify-content: space-around;
    padding-top: 0%;
  }

  #resume-container .header-img-container {
    width: 100%;
    height: 200px;
  }

  #resume-container .header-intro {
    width: 100%;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    text-transform: uppercase;
  }

  .resume-container {
    position: absolute;
    top: 25%;
    left: 20%;
    right: 20%;
  }

  .resume-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
  }

  .experience {
    padding: 1em;
    font-size: 20px;

    /* background-color: salmon; */
  }

  .experience h1 {
    margin-bottom: 1em;
    font-size: 36px;
    text-transform: uppercase;
  }

  .work-experience div:nth-child(2) {
    margin-top: 1em;
  }
  .work-experience div p {
    margin-bottom: 0.8em;
  }

  .education-achievement {
    padding: 1em;
    margin: 1em;
    font-size: 20px;
    line-height: 1em;
    word-spacing: 0.2em;
    /* background-color: rgb(161, 231, 161); */
  }
  .education-achievement p {
    padding: 0.2em;
  }

  .education-achievement h1 {
    margin-bottom: 1em;
    font-size: 36px;
    text-transform: uppercase;
  }

  .achievement {
    margin-top: 1em;
  }

  .schools div {
    margin-bottom: 1em;
  }
  .certificates div {
    margin-bottom: 1em;
  }
}
