* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredericka the Great", cursive;
}

.home {
  background-color: rgb(255, 235, 205);
  height: 100vh;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.content-wrapper {
  text-transform: uppercase;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-1%, -50%);
  overflow: hidden;
  padding: 1em;
}

.content-container {
  margin-bottom: 5%;
}

a {
  text-decoration: none;
  font-size: 30px;
  border: 1px solid black;
  padding: 0.2em;
}

.type {
  color: #fc144e;
}
/* Galaxy Fold */
@media (max-width: 300px) {
  .content-wrapper {
    left: 0;
  }
  .content-wrapper h1 {
    font-size: 0.9rem;
  }

  a {
    font-size: 1rem;
  }
}

@media (min-width: 300px) and (max-width: 350px) {
  .content-wrapper {
    left: 0;
  }
  .content-wrapper h1 {
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
  }
}

@media (min-width: 360px) and (max-width: 410px) {
  .content-wrapper {
    left: 0;
  }
  .content-wrapper h1 {
    font-size: 1.2rem;
  }

  a {
    font-size: 1rem;
  }
}

@media (min-width: 411px) and (max-width: 414px) {
  .content-wrapper {
    left: 0;
  }

  .content-wrapper h1 {
    font-size: 1.4rem;
  }

  a {
    font-size: 1.2rem;
  }
}

@media (min-width: 540px) and (max-width: 720px) {
  .content-wrapper {
    left: 20%;
  }

  .content-wrapper h1 {
    font-size: 1.5rem;
  }

  a {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  .content-wrapper {
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    overflow: hidden;
    padding: 0.5em;
    width: 65%;
  }
  .content-wrapper h1 {
    font-size: 1em;
  }

  a {
    font-size: 25px;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .content-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    overflow: hidden;
    padding: 0.5em;
    width: 65%;
  }
  .content-wrapper h1 {
    font-size: 1.3em;
  }

  a {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .home {
    height: 100vh;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
  }

  .content-wrapper {
    text-transform: uppercase;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    overflow: hidden;
    padding: 1em;
  }

  .content-container {
    margin-bottom: 5%;
  }

  a {
    text-decoration: none;
    font-size: 30px;
    border: 1px solid black;
    padding: 0.2em;
  }

  .type {
    color: #fc144e;
  }
}
