:root {
	--primary-font: 'Fredericka the Great', cursive;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
	
}

/* Animation */

.bounce-in-top{

	-webkit-animation:bounce-in-top 1.1s both;
		animation:bounce-in-top 1.1s both

}
 @-webkit-keyframes bounce-in-top{
	 0%{
	-webkit-transform:translateY(-500px);
	transform:translateY(-500px);
	-webkit-animation-timing-function:ease-in;
	animation-timing-function:ease-in;
	opacity:0
}
	38%{
		-webkit-transform:translateY(0);
		transform:translateY(0);
		-webkit-animation-timing-function:ease-out;
		animation-timing-function:ease-out;
		opacity:1
	}
	55%{
		-webkit-transform:translateY(-65px);
		transform:translateY(-65px);
		-webkit-animation-timing-function:ease-in;
		animation-timing-function:ease-in
	}
	72%{
		-webkit-transform:translateY(0);
		transform:translateY(0);
		-webkit-animation-timing-function:ease-out;
		animation-timing-function:ease-out
	}
	81%{
		-webkit-transform:translateY(-28px);
		transform:translateY(-28px);
		-webkit-animation-timing-function:ease-in;
		animation-timing-function:ease-in
	}
	90%{
		-webkit-transform:translateY(0);
		transform:translateY(0);
		-webkit-animation-timing-function:ease-out;
		animation-timing-function:ease-out
	}
	95%{
		-webkit-transform:translateY(-8px);
		transform:translateY(-8px);
		-webkit-animation-timing-function:ease-in;
		animation-timing-function:ease-in
	}
	100%
	{-webkit-transform:translateY(0);
		transform:translateY(0);
		-webkit-animation-timing-function:ease-out;
		animation-timing-function:ease-out
	}
	
}@keyframes bounce-in-top{0%{-webkit-transform:translateY(-500px);transform:translateY(-500px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateY(-65px);transform:translateY(-65px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateY(-28px);transform:translateY(-28px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateY(-8px);transform:translateY(-8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

/* Animation for my about me description */


 .slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
	0% {
	  -webkit-transform: translateY(-1000px);
			  transform: translateY(-1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  @keyframes slide-in-top {
	0% {
	  -webkit-transform: translateY(-1000px);
			  transform: translateY(-1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  
  .slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
	0% {
	  -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
			  transform: translateY(-600px) rotateX(-30deg) scale(0);
	  -webkit-transform-origin: 50% 100%;
			  transform-origin: 50% 100%;
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0) rotateX(0) scale(1);
			  transform: translateY(0) rotateX(0) scale(1);
	  -webkit-transform-origin: 50% 1400px;
			  transform-origin: 50% 1400px;
	  opacity: 1;
	}
  }
  @keyframes slide-in-elliptic-top-fwd {
	0% {
	  -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
			  transform: translateY(-600px) rotateX(-30deg) scale(0);
	  -webkit-transform-origin: 50% 100%;
			  transform-origin: 50% 100%;
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0) rotateX(0) scale(1);
			  transform: translateY(0) rotateX(0) scale(1);
	  -webkit-transform-origin: 50% 1400px;
			  transform-origin: 50% 1400px;
	  opacity: 1;
	}
  }

body {

	height: auto;
	background-color: rgb(255,235,205);
	background-size: cover;
	position: relative;
	cursor: url("../images/GreyWings.cur"), auto;
	font-family: 'Fredericka the Great', cursive;
	

}

nav {
	display: none;
	position: fixed-top;
	height: 15vh;
	box-shadow: 1px 1px 1px 1px gray;
	font-family: 'Fredericka the Great', cursive;
	
}



nav .contact {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	justify-content: center;
	margin: 0 5%;
	padding-top: 2%;

}

nav .contact img {
	height: 60px;	

}

#text {

	font-family: 'Fredericka the Great', cursive;
}

/* DESKTOP LOGO */

.logo {
	position: absolute;
	left: 20%;
	top: -1%;
	
} 

.logo img {
	height: 120px;
	width: 90px;	
	
}

.logo-container {
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translate(-50%, -50%);
	background: url(../images/Logo2.png) no-repeat center;
	background-size: cover;
	height: 100px;
	width: 100px;
}


/* DESKTOP MENU */

.menu-icon {
	font-family: var(--primary-font);
	height: 100vh;
	z-index: -10;
	text-align: center;
}

.menu-1 {
	display: flex;
	justify-content: space-between;
	padding: 3% 3%;
}

.menu-2 {
	display: flex;
	position: fixed;
	bottom: 0;
	padding: 3% 3%;
	justify-content: space-between;
	width: 100%;
	
}

.menu-icon img {
	height: 200px;
}

@media (max-width: 480px){
	body {
		background: coral;
	}

	#menu-desktop {
		display:none;
	}

}


/* header container */

.header-intro {
	position: absolute;
	top: 15%;
	left: 35%;
	font-size: 80px;
	text-transform: uppercase;
	font-family: var(--primary-font);
	
}

.header-img-container {
	position: absolute;
	top: 4%;
	left: 40%;
	background: url(../images/bg.png) no-repeat center center;
	background-size: cover;
	height: 230px;
	width: 30%;
	

	
}


/* ABOUT ME Container */

.about-me-container {
	font-family: var(--primary-font);
	position: absolute;
	top: 18%;
	left: 50%;
	transform: translate(-50%, 50%);
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1.3em;
	
	
}

.circle {
	position: absolute;
	top: 27.4%;
	left: 587px;
	transform: translate(-50%, 50%);
	height: 245px;
	width: 240px;
	border: 2px solid brown;
	border-radius: 50%;
	justify-content: center;
	
}

.img-container {
	background: url(../images/img-portfolio.jpg) no-repeat center center;
	background-size: cover;
	margin-right: 3%;
	height: 220px;
	width: 100%;
	border-radius: 50%;
	justify-content: center;
	padding: 10px;

	
}

.about-description h1 {
	margin-left: 10px;
	margin-bottom: 12px;
}
.about-description h4 {
	margin-left: 10px;
	margin-bottom: 20px;
}

.about-description p {
	padding: 5px;
	font-size: 24px;
	line-height: 1em;
}

/* Skill stacks */

.skill-container {
	position: absolute;
	bottom: 10%;
	left: 38%;
	transform: translate(-50, 50%);	
	font-family: var(--primary-font);
}

.skill-container h1 {
	margin-bottom: 20px;

}

.skill-container img {
	height: 100px;
}




  